
.header h1{
  width: 100%;
  height: 20%;
  background-color: #19323C;
  text-align: center;
  color: white;

}
h1{
  padding: 30px;
}

/* nav bar styling for now */
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;  
    margin-left: 10px;
}

a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;   
}

.form{
    margin-bottom: 30px;
    text-align: center;
}

/* Change the link color on hover */
a:hover {
    background-color: #254E70;
    color: white; 
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }

.notCheckedInBtn{
  color: white;
}
  
  table {
    display: block;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 110%;
    /* overflow: auto; */
    margin: auto;  
    width: 85%;  
    margin-bottom: 50px;
    align-content: center;
    
  }
    
    th {
      background-color: #0F7173;
      color: white;
      font-weight: normal;
      padding: 20px 30px;
      text-align: center;
    }
    td {
      background-color: rgb(238, 238, 238);
      color: rgb(111, 111, 111);
      padding: 20px 30px;
    }
  
    .dashtable{
      align-content: center;
      margin-left: 12%;
    }