<!-- FORM START -->
<div class="form">
    <h2>Add Pet:</h2>

    <!-- angular materials testing START -->
    <!-- <div ng-controller="Demo"
    layout="column" ng-cloak class="md-inline-form">

    <md-content md-theme="docs-dark"
    layout-gt-sm="row" layout-padding>

    </div> -->
    <!-- <md-input-container>
        <label >Test</label>
        <input ng-model="user.test">
    </md-input-container> -->

    <!-- angular materials testing END -->

    <input type="text" ng-model="vm.newPet.name" placeholder="Pet Name" >
    <input type="text" ng-model="vm.newPet.breed" placeholder="Breed" >
    <input type="text" ng-model="vm.newPet.color" placeholder="Color" >
   <!-- Pet selector -->
    <select ng-model="vm.newPet.type">
        <option value="">Select Type</option>
        <option >Dog</option>
        <option >Cat</option>
    </select>
    <!-- Owner selector -->
    <select ng-model="vm.newPet.owners_id">
        <option value="">Select Owner</option>
        <option ng-repeat="owner in vm.ownerConList.list" value="{{owner.id}}">{{owner.firstname}}</option>
    </select>
    <md-button ng-click="vm.addPet(vm.newPet)">Submit</md-button>
</div>
<!-- FORM END -->
<table>
    <thead><th>Pet Name</th>
           <th>Type</th>
           <th>Breed</th>
           <th>Color</th>
           <th>Owner</th>
           <th>Checked In</th>
           <th>Delete</th></thead>

    <!-- iterate over pet array to display-->
    <tbody><tr ng-repeat="pet in vm.petList.Pets">
           <td>{{pet.name}}</td>
           <td>{{pet.type}}</td>
           <td>{{pet.breed}}</td>
           <td>{{pet.color}}</td>
           <td>{{pet.firstname}}</td>
           <td><button ng-if="pet.checkedIn" 
                       class="checkInBtn" 
                       ng-click="vm.changeStatus(pet.id, pet.checkedIn)">
                        ✓ </button>
               <button ng-if="!pet.checkedIn" 
                       class="notCheckedInBtn" 
                       ng-click="vm.changeStatus(pet.id, pet.checkedIn)">
                        ✓ </button></td>
            <td><md-button ng-click="vm.deletePet(pet)">Delete</md-button></td></tr>
    </tbody>
</table>