<h2>Add Pet:</h2>
    <!-- FORM START -->
    <input type="text" ng-model="vm.newPet.name" placeholder="Pet Name" >
    <input type="text" ng-model="vm.newPet.breed" placeholder="Breed" >
    <input type="text" ng-model="vm.newPet.color" placeholder="Color" >
   <!-- Pet type -->
    <select ng-model="vm.newPet.type">
        <option value="">Select Type</option>
        <option >Dog</option>
        <option >Cat</option>
    </select>
    <!-- Owner id -->
    <select ng-model="vm.newPet.owners_id">
        <option value="">Select Owner</option>
        <option ng-repeat="owner in vm.ownerConList.list" value="{{owner.id}}">{{owner.firstname}}</option>
    </select>
    <button ng-click="vm.addPet(vm.newPet)">Submit</button>
    <!-- FORM END -->

<table>
    <thead><th>Pet Name</th>
           <th>Type</th>
           <th>Breed</th>
           <th>Color</th>
           <th>Owner</th>
           <th>Checked In</th>
           <th>Delete</th></thead>
    <tbody><tr ng-repeat="pet in vm.petList.Pets">

           <td>{{pet.name}}</td>
           <td>{{pet.type}}</td>
           <td>{{pet.breed}}</td>
           <td>{{pet.color}}</td>
           <td>{{pet.firstname}}</td>
           <td>{{pet.checkedIn}}</td>
           <td><button ng-click="vm.deletePet(pet)">Delete</button></td>
        </tr></tbody>
        
    
</table>