<h2>Add Pet:</h2>
    <input type="text" ng-model="vm.newPet.name" placeholder="Pet Name" >
    <select ng-model="vm.newPet.type">
    <option value="" disabled selected>Type of Pet</option>
    <option >Cat</option>
    <option >Dog</option>
    </select>
    <input type="text" ng-model="vm.newPet.breed" placeholder="Breed" >
    <input type="text" ng-model="vm.newPet.color" placeholder="Color" >
    <input type="text" ng-model="vm.newPet.owner" placeholder="Owner" >
    <button ng-click="vm.addPet(vm.newPet)">Submit</button>
<table>
    <thead><th>Pet Name</th>
           <th>type</th>
           <th>Breed</th>
           <th>Color</th>
           <th>Owner</th>
           <th>Checked In</th>
           <th>Delete</th></thead>
    <tbody><tr ng-repeat="pet in vm.petList.Pets">

           <td>{{pet.name}}</td>
           <td>{{pet.type}}</td>
           <td>{{pet.breed}}</td>
           <td>{{pet.color}}</td>
           <td>{{pet.owner}}</td>
           <td>{{pet.checkedIn}}</td>
           <td><button ng-click="vm.deletePet(pet)">Delete</button></td>
        </tr></tbody>
    
</table>