<h2>Add Owner:</h2>
<input type="text" ng-model="vm.newOwner.firstname" placeholder="Owner Name">
<button ng-click="vm.addOwner(vm.newOwner)">Submit</button>
<table>
    <thead><th>Name</th>
           <th>Number of Pets</th>
           <th>Delete</th>
    </thead>

    <tbody>
        <tr ng-repeat="owner in vm.ownerConList.list">
           <td>{{owner.firstname}}</td>
           <td>count here</td>
           <td><button ng-click="vm.deleteOwner(owner)">Delete</button></td>
        </tr>
    </tbody>